.app-container {
    display: flex;
    margin-left: 200px; /* 180px сайдбар + 20px отступ */
    width: calc(100% - 200px);
    min-height: 100vh;
}


.main-content {
    flex-grow: 1;
    padding: 20px;
    background-color: #f5f5fe;
    box-sizing: border-box;
}

.page-header {
    padding: 20px;
    border-bottom: 1px solid #e0e0e0;
}

.page-header h1 {
    margin: 0;
    font-size: 24px;
    font-weight: 500;
}

.orders-title {
    margin: 0 0 20px 0;
    font-size: 24px;
    font-weight: 500;
}